@charset "utf-8";
/* CSS Document */
@import url('https://fonts.google.com/specimen/Alfa+Slab+One?query=alfa');
@import url('https://fonts.google.com/specimen/Alfa+Slab+One?query=alfa');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@600;700&family=Roboto&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.mb-4{
	margin-bottom: 120px;
}
.mt-16{
	margin-top: 64px;
}
.mt-20{
	margin-top: 80px;
}
.p-0{
	padding: 0;
}
.bg-primary{
	background: #264653;
}
.bg-secondary{
	background: #f4a261
}
.bg-success{
	background: #2a9d8f
}
.bg-warning{
	background: #e9c46a
}
.bg-error{
	background: #e76f51;
}
.bg-black{
	background: #000000;
}
.text-primary{
	color: #000000;
}

.container-fluid{
	width: 100%;
	padding-top: 0;
	
	
}
.container-2{
	width: 100%;
	height: 100%;
	background: #000000;
}
.container-1{
	width: 100%;
	background-image:url("../images/248420905_1511496582559338_8093925435341614223_n.png");
		
	height: 580px;
	background-repeat: no-repeat;
	background-size:cover
}
.container-3{
	max-width: 100%;
}	
.container{
	max-width: 1200px;
	margin: 0 auto;	
	padding: 0 15px;
	
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.col-1{
	width: 8.33%
}
.col-2{
	width: 16.66%
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.33%
}
.col-8{
	width: 66.66%
}
.col-9{
	width: 75%
}
.col-10{
	width: 83.33%
}
.col-11{
	width: 91.66%
}
.col-12{
	width: 100%
}
.display-sm-block{
	display: none;
}
@media screen and (max-width:415px){
	.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
		width: 100%;
	}
	}
	

	
.p-1{
	padding: 4px;
}
.pt-1{
	padding-top:4px;
}
.pb-1{
	padding-bottom: 4px;
}
.pl-1{
	padding-left: 4px;
}
.pr-1{
	padding-right: 4px;
}
.px-1{
	padding: 0 4px;
}
.px-8
{
	padding: 0 32px;
}
.py-1{
	padding: 4px 0;
}
.p-2{
	padding: 8px;
}
.px-4{
	padding: 0 16px;
}
.py-4{
	padding: 16px 0;
}
/*margin*/
.m-1{
	margin: 4px;
}
.m-4{
	margin: 16px 0 16px 0;
}
.mt-8
{
	margin-top: 32px;
}
.mt-1{
	margin-top:4px;
}
.mb-1{
	margin-bottom: 4px;
}
.mb-3{
	margin-bottom: 12px;
}
.mb-15{
	margin-bottom: 60px;
}
.ml-1{
	margin-left: 4px;
}
.ml-10{
	margin-left: 40px;
}
.mr-1{
	margin-right: 4px;
}
.mr-20{
	margin-right: 80px;
}
.mx-1{
	margin: 0 4px;
}
.my-1{
	margin: 4px 0;
}
.mx-auto{
	margin: 0 auto;
}
.justify-between{
	justify-content: space-between;
}
.justify-center{
	justify-content: center;
}
.align-s-center{
	align-self: center;
}
.align-s-bot{
	align-self: flex-end;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
h2{
	font-family: "Alfa Slab One";
	color:#D5C426;
}
h3,h4{
	font-family: 'Roboto', sans-serif;
	color:#00b4d8;
}
body{
	color:#000000;
	font-family: "Roboto";
}
h5{
	font-family:"Roboto";
	color:aliceblue;
		
}
.align-center{
	align-items: center;
}
.vh-100{
	height: 100vh;
}
.btn{
	padding: 8px 24px;
	text-decoration: none;
}
.btn-primary{
	background: #D6BD5A;
	border-radius: 20px;
	font-size: 14px;
	color: white;
}
.btn-secondary{
	background: #00b4d8;
	border-radius: 20px;
	font-size: 17px;
	color: black;
}
.btn-white{
	background: white;
	border-radius: 20px;
	font-size: 14px;
	color: #1E266D;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.p-18{
	padding: 70px 0;
}
.center{
	align-items: center;
}
.bg-label-1{
	background: #00b4d8;
	border-radius:10px;
	font-size: 16px;
	padding: 4px 20px;
	font-weight: bold;
}
.h1
{
	font-size: 4.209rem;
}
.h2
{
	font-size: 3.157rem;
}
.h3
{
	font-size: 2.369rem;
}
.h4
{
	font-size: 1.777rem;
}
.card img{
	width: 277px;
}
.about img{
	width: 475px ;
	height: 325px;
	
}
